:root {
  --background-color: #fff;
  --color: #000;
  --title-color: #000;
  --hover-color: #e0234e;
  --github-logo: url('/images/social-login/github-mark.svg');
  --google-logo: url('/images/social-login/google-mark.svg');
  --kakao-logo: url('/images/social-login/kakao-mark.svg');
  --naver-logo: url('/images/social-login/naver-mark.svg');
  --apple-logo: url('/images/social-login/apple-mark.svg');
}
